%nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
  .container-fluid
    %ul.nav.navbar-nav.hidden-xs
      - Page.published.each do |page|
        %li
          = link_to page.name.titleize, (page.name == 'home' ? root_path : page)

    %ul.nav.navbar-nav.visible-xs
      %li.dropdown
        = link_to "Menu", '#', data: { toggle: 'dropdown'}, class: 'dropdown-toggle'
        %ul.dropdown-menu
          - Page.published.each do |page|
            %li
              = link_to page.name.titleize, (page.name == 'home' ? root_path : page)
