%p
  Thank you for signing up for #{@registration.event.title} at Paint and Sip!
%p
  You have registered for the class on #{@registration.event.from.strftime("%B %d")} at #{@registration.event.from.strftime("%l:%M %P")}. You have registered for #{@registration.quantity} seats.
%p Please arrive at Create, Mix and Mingle 15-30 minutes prior to the start of class, so you have time to check-in, buy a drink, get your brushes, palette, paints and settle in. Classes start on time.
%p We look forward to seeing you soon! In the meantime, if you have questions, please check out our Frequently Asked Questions or feel free to contact us anytime. You can reach us at info@example.com or call (650) 434 2781
%p Kind regards
